/*font */
.cTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 157%;
  letter-spacing: 0.1em;
  padding: 5px 20px;
  padding-left: 20px;
  padding-right: 0px;
  position: relative;
  width: max-content;
}
.cTitle span {
  z-index: 1;
  position: relative;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
}
.cTitle::before {
  position: absolute;
  background: rgba(18, 121, 190, 0.2);
  z-index: 0;
  width: 40px;
  height: 100%;
  content: "";
  border-radius: 10px;
  top: 0;
  left: 0;
}
.cTitle--white {
  color: #fff;
}
.cTitle--white::before {
  background: rgba(255, 255, 255, 0.38);
}
.cTitle--black {
  color: #474747;
}
.cTitle--brown {
  color: #963337;
}
.cTitle--yellow {
  color: #474747;
}
.cTitle--yellow::before {
  background: rgba(255, 224, 62, 0.49);
}

.cSectionText {
  font-style: normal;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 29px;
  text-align: center;
}
.cSectionText--white {
  color: #fff;
}
.cSectionText--black {
  color: #464646;
}
.cSectionText--blue {
  color: #1279BE;
}
.cSectionText--yellow {
  color: #FCFF58;
}

@keyframes goUp {
  0% {
    top: 70%;
    transform: scale(1);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    top: 0;
    transform: scale(2.5);
    opacity: 0;
  }
}
.cBtn {
  border-radius: 0px;
  display: flex;
  font-family: inherit;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease-in-out;
  border-radius: 10px;
}
.cBtn--blue {
  background: #2460B9;
}
.cBtn--brown {
  background: #963337;
}
.cBtn--yellow {
  background: #FBFF25;
}
.cBtn--yellow span {
  color: #079998;
}
.cBtn--red {
  background-color: #a50b0b;
}
.cBtn--orange {
  background-color: #f37022;
}
.cBtn:hover {
  background: #2C6220;
}
.cBtn:hover span {
  color: #fff;
  animation: btnTransform 0.5s linear;
}
.cBtn span, .cBtn__span {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 157%;
  color: #FFFFFF;
  padding: 8px 20px;
}
.cBtn--white {
  background-color: #fff;
}
.cBtn--white span {
  color: #474747;
}
.cBtn--white:hover span {
  color: #fff;
}
.cBtn--greyWhite {
  background: #F3F3F3;
}
.cBtn--greyWhite span {
  color: #474747;
}
@keyframes btnTransform {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  20% {
    transform: translateX(-50%);
    opacity: 0;
  }
  60% {
    transform: translateX(-100%);
    opacity: 0;
  }
  80% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
  }
}

.cSubText {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 175%;
  color: #888888;
  font-weight: 400;
}
.cSubText span {
  font-weight: 600;
}
.cSubText--white {
  color: #fff;
}

.clargeText {
  font-style: normal;
  font-weight: 900;
  font-size: 6.4rem;
  line-height: 75px;
  text-transform: uppercase;
  color: #f37022;
}

.cDescText {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 160%;
  text-align: justify;
}
.cDescText--black {
  color: #757575;
}
.cDescText--white {
  color: #fff;
}

.tabbox {
  border: 1px solid #eeeff3;
  border-radius: 8px;
  height: max-content;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.tabbox__header {
  width: 100%;
  border-bottom: 1px solid #eeeff3;
  padding: 12px 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  color: #fff;
  text-transform: capitalize;
  background-color: #2460B9;
}
@media (max-width: 425px) {
  .tabbox__header {
    padding: 12px;
  }
}
.tabbox__content {
  padding: 20px;
}
@media (max-width: 425px) {
  .tabbox__content {
    padding: 12px;
  }
}

.cTable {
  width: 100%;
}
.cTable td {
  padding: 8px 20px;
  color: #464E5F;
}
@media (max-width: 425px) {
  .cTable td {
    padding: 8px 12px;
  }
}
.cTable thead tr {
  background-color: #F3F6F9;
  border-bottom: 1px solid #2460B9;
}
.cTable thead tr td {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #464E5F;
}
.cTable tbody tr {
  transition: all 0.1s ease-in-out;
}
.cTable tbody tr:hover {
  background-color: #D7DEE7;
  cursor: pointer;
}
.cTable tbody td {
  font-size: 12px;
  line-height: 110%;
}
.cTable tbody td.fail {
  color: #a50b0b;
  font-weight: 500;
}
.cTable tbody td.passed {
  color: #2C6220;
  font-weight: 500;
}

.cForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
}
.cForm .form-group {
  flex-grow: 1;
}
.cForm label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #343434;
  display: block;
  margin-bottom: 5px;
}
.cForm input, .cForm select {
  padding: 12px 20px;
  border: 1px solid #C4C4C4;
  border-radius: 8px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: #343434;
}
.cForm input.active, .cForm input:focus, .cForm select.active, .cForm select:focus {
  background: #F5F7FF;
  border: 1px solid #3680E3;
}

/* color classes----------------------------------------------- */
/* rest ------------------------------------ */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: 0;
  border: 0;
  appearance: none;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif !important;
}

/* default styling and custom-helper-classes-------------------------------*/
html {
  width: 100vw;
  font-size: 10px;
  overflow-x: hidden;
}
@media (max-width: 1440px) {
  html {
    font-size: 9.4px;
  }
}

body {
  overflow-x: hidden;
  line-height: 10px;
  margin: 0px;
}

a {
  text-decoration: none;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 96px;
  text-align: center;
  color: var(--color-white);
  margin-bottom: 0px;
  text-transform: capitalize;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 3.6rem;
  line-height: 43px;
  color: var(--color-heading);
  margin-bottom: 0px;
  text-transform: capitalize;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 26px;
  color: var(--color-heading);
  margin-bottom: 0px;
  text-transform: capitalize;
}

p {
  margin-bottom: 0px;
}

ul {
  padding: 0;
  margin: 0;
}

.wrapper {
  padding-left: 10%;
  padding-right: 10%;
}
@media (max-width: 1300px) {
  .wrapper {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    padding-left: 3.5%;
    padding-right: 3.5%;
  }
}
.wrapper--left {
  padding-left: 15%;
  padding-right: 0%;
}
@media (max-width: 1300px) {
  .wrapper--left {
    padding-left: 10%;
    padding-right: 0%;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper--left {
    padding-left: 5%;
    padding-right: 0%;
  }
}
@media screen and (max-width: 768px) {
  .wrapper--left {
    padding-left: 3.5%;
    padding-right: 3.5%;
  }
}
.wrapper--right {
  padding-left: 0%;
  padding-right: 15%;
}
@media (max-width: 1300px) {
  .wrapper--right {
    padding-left: 0%;
    padding-right: 10%;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper--right {
    padding-left: 0%;
    padding-right: 5%;
  }
}
@media screen and (max-width: 768px) {
  .wrapper--right {
    padding-left: 3.5%;
    padding-right: 3.5%;
  }
}

.row {
  margin: 0px;
  padding: 0px;
}

.col-lg-3, .col-lg-4, .col-lg-5.col-lg-6, .col-lg-7, .col-lg-9 {
  padding: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.row > * {
  padding-right: 0px;
  padding-left: 0px;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 1440px) {
  section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (max-width: 768px) {
  section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.heroSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 10px;
  gap: 20px;
  position: relative;
}
.heroSection::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  content: "";
  height: 58%;
  background-color: #2460B9;
  z-index: -1;
}
.heroSection__brand {
  width: 100px;
  height: auto;
}
.heroSection__brand img {
  width: 100%;
}
.heroSection__title {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: #fff;
  line-height: 120%;
  text-align: center;
}
.heroSection__main {
  margin-top: 50px;
  margin-bottom: 80px;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  align-items: center;
  max-width: 1024px;
  border-radius: 45px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
@media (max-width: 767px) {
  .heroSection__main {
    grid-template-columns: 1fr;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.heroSection__main__SignUp {
  display: flex;
  flex-direction: column;
  padding: 45px;
}
@media (max-width: 500px) {
  .heroSection__main__SignUp {
    padding: 35px 30px;
  }
}
.heroSection__main__SignUp .cBtn {
  width: 50%;
  margin: 0 auto;
}
.heroSection__main__SignUp__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 34px;
  color: #343434;
  margin-bottom: 30px;
  text-align: center;
}
.heroSection__main__SignUp__title span {
  font-size: 4.8rem;
  color: #2460B9;
}
@media (max-width: 1023px) {
  .heroSection__main__SignUp__title span {
    font-size: 3.8rem;
  }
}
.heroSection__main__SignUp__form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.heroSection__main__SignUp__form label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #343434;
  display: block;
  margin-bottom: 5px;
}
.heroSection__main__SignUp__form input {
  padding: 12px 20px;
  border: 1px solid #C4C4C4;
  border-radius: 8px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: #343434;
}
.heroSection__main__SignUp__form input::placeholder {
  color: #C4C4C4;
}
.heroSection__main__formImg {
  height: 600px;
}
@media (max-width: 767px) {
  .heroSection__main__formImg {
    display: none;
  }
}
.heroSection__main__formImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2460B9;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar__logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.navbar__logo__img {
  width: 70px;
}
.navbar__menus {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
}
.navbar__menus__item {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 19px;
  text-transform: capitalize;
  color: #FFFFFF;
  position: relative;
  padding-bottom: 3px;
  transition: all 0.3s ease-in-out;
}
.navbar__menus__item::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 0%;
  background-color: #ffee00;
  height: 2px;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}
.navbar__menus__item.active, .navbar__menus__item:hover {
  color: #ffee00;
}
.navbar__menus__item.active::after, .navbar__menus__item:hover::after {
  width: 100%;
}

.afterLoginAndRegistration__header {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.afterLoginAndRegistration__header__passportImg {
  border-radius: 0px;
  object-fit: contain;
  width: 90px;
  height: auto;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.afterLoginAndRegistration__header__personid {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.afterLoginAndRegistration__header__personid__name {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.afterLoginAndRegistration__header__personid__liscenceNo {
  font-size: 13px;
  color: #2460B9;
  line-height: 120%;
}

.afterLoginAndRegistrationTabs {
  display: flex;
  flex-direction: row;
  grid-column-gap: 30px;
  border-bottom: 2px solid #EEEFF3;
  margin-bottom: 30px;
  background-color: #fdfdfd;
}
.afterLoginAndRegistrationTabs .nav-item .nav-link {
  font-family: "Poppins";
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  position: relative;
  color: #000;
  border: none;
  padding: 10px;
  margin: 0;
  border: none;
  outline: none;
  position: relative;
}
.afterLoginAndRegistrationTabs .nav-item .nav-link::after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  height: 2px;
  background-color: #2460B9;
  border-radius: 10px;
  width: 0px;
  transition: all 0.3s ease-in-out;
}
.afterLoginAndRegistrationTabs .nav-item .nav-link.active {
  font-weight: 500;
}
.afterLoginAndRegistrationTabs .nav-item .nav-link.active::after {
  width: 100%;
}

.liscenceStatus__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}
@media (max-width: 768px) {
  .liscenceStatus__content {
    grid-template-columns: 1fr;
  }
}

.LicenseInformation {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #171D3C;
}
@media (max-width: 424px) {
  .LicenseInformation {
    font-size: 12px;
  }
}
.LicenseInformation__item {
  display: flex;
  justify-content: space-between;
}
.LicenseInformation__item__value {
  font-weight: bold;
}
.LicenseInformation__item__field {
  display: flex;
  align-items: center;
  gap: 5px;
}
.LicenseInformation__item__field iconify-icon {
  font-size: 20px;
  font-weight: bold;
  color: #171D3C;
}

.newLiscence .note {
  color: #a50b0b;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 15px;
  line-height: 115%;
}
.newLiscence__header {
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 29px;
  color: #000000;
  margin-bottom: 30px;
}
.newLiscence .tabbox {
  margin-bottom: 20px;
}
.newLiscence .cBtn {
  height: max-content;
  display: block;
  margin-top: 35px;
}

.newLiscence__form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 1400px) {
  .newLiscence__form {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 550px) {
  .newLiscence__form {
    grid-template-columns: repeat(1, 1fr);
  }
}

.userInputInfoForm {
  display: grid;
  grid-template-columns: repeat(5, 1fr) auto;
}
@media (max-width: 1440px) {
  .userInputInfoForm {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1024px) {
  .userInputInfoForm {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 550px) {
  .userInputInfoForm {
    grid-template-columns: repeat(1, 1fr);
  }
}

.newLiscence .cBtn {
  width: max-content;
}
@media (max-width: 550px) {
  .newLiscence .cBtn {
    margin-top: 0px;
  }
}

.confirmPage .cBtn {
  margin: 0 auto;
  margin-top: 30px;
}