.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $blue;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    &__logo{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 6px;
        align-items: center;
        font-style: normal;
        font-weight: 600;
        font-size: 2rem;
        line-height: 24px;
        text-transform: capitalize;
        color: #FFFFFF;
        &__img{
            width: 70px;
        }
    }
    &__menus{
        display: flex;
        flex-direction: row;
        gap: 32px;
        align-items: center;
        &__item{
            color: #fff;
            font-style: normal;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 19px;
            text-transform: capitalize;
            color: #FFFFFF;
            position: relative;
            padding-bottom: 3px;
            transition: all 0.3s ease-in-out;
            &::after{
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                content: "";
                width: 0%;
                background-color: $yellow;
                height: 2px;
                transition: all 0.3s ease-in-out;
                border-radius: 10px;
            }
            &.active,&:hover{
                color: $yellow;
                &::after{
                    width: 100%;
                }
            }
        }
    }
}


.afterLoginAndRegistration{
    &__header{
        margin-bottom: 16px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        &__passportImg{
            border-radius: 0px;
            object-fit: contain;
            width: 90px;
            height: auto;
            background-color:#fff;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
        &__personid{
            display: flex;
            flex-direction: column;
            gap: 10px;
            &__name{
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 24px;
                color: #000000;
            }
            &__liscenceNo{
                font-size: 13px;
                color: $blue;
                line-height: 120%;
            }
        }
    }
}

.afterLoginAndRegistrationTabs{
    display: flex;
    flex-direction: row;
    grid-column-gap: 30px;
    border-bottom: 2px solid #EEEFF3;
    margin-bottom: 30px;
    background-color: #fdfdfd;
    
    .nav-item{
        .nav-link{
            font-family: "Poppins";
            font-style: normal;
            font-size: 14px;
            line-height: 21px;
            position: relative;
            color: #000;
            border: none;
            padding: 10px;
            margin: 0;
            border: none;
            outline: none;
            position: relative;
            &::after{
                position:absolute;
                content:"";
                left: 50%;
                transform: translateX(-50%);
                bottom: 0px;
                height: 2px;
                background-color: $blue;
                border-radius: 10px;
                width: 0px;
                transition: all 0.3s ease-in-out;
            }
            &.active{
                font-weight: 500;
                &::after{
                    width: 100%;
                }
            }
        }

    }
}


.liscenceStatus__content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
    @media(max-width:768px)
    {
        grid-template-columns: 1fr;
    }
}

.LicenseInformation{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #171D3C;

    @media(max-width:424px){
        font-size: 12px;
    }
    &__item{
        display: flex;
        justify-content: space-between;
        &__value{
           font-weight: bold;
        }
        &__field{
            display: flex;
            align-items: center;
            gap: 5px;
            iconify-icon {
                font-size: 20px;
                font-weight: bold;
                color: #171D3C;
            }
        }

    }
}

