/* color classes----------------------------------------------- */


/* rest ------------------------------------ */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: 0;
    border: 0;
    appearance: none;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif  !important;

}
/* default styling and custom-helper-classes-------------------------------*/
html{
    width: 100vw;
    font-size: 10px;
    overflow-x: hidden;
    @media(max-width:1440px){
        font-size: 9.4px;
    }
}


body{
    overflow-x: hidden;
    line-height: 10px;
    margin: 0px;
}
a{
    text-decoration: none;
}
h1{
    font-style: normal;
    font-weight: bold;
    font-size: 6.4rem;
    line-height: 96px;
    text-align: center;
    color: var(--color-white);
    margin-bottom: 0px;
    text-transform: capitalize;
}
h2{
    font-style: normal;
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 43px;
    color: var(--color-heading);
    margin-bottom: 0px;
    text-transform: capitalize;
}
h3{
    font-style: normal;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 26px;
    color: var(--color-heading);
    margin-bottom: 0px;
    text-transform: capitalize;
}
p{
    margin-bottom: 0px;
}
ul{
    padding: 0;
    margin: 0;
}
.wrapper{
    padding-left: 10%;
    padding-right: 10%;
    @media(max-width:1300px){
        padding-left: 10%;
        padding-right: 10%;
    }
    @media screen and (max-width: 1024px) {
        padding-left: 5%;
        padding-right: 5%;
    }
    @media screen and (max-width: 768px) {
        padding-left: 3.5%;
        padding-right: 3.5%;
    }
    &--left{
        padding-left: 15%;
        padding-right: 0%;
        @media(max-width:1300px){
            padding-left: 10%;
            padding-right: 0%;
        }
        @media screen and (max-width: 1024px) {
            padding-left: 5%;
            padding-right: 0%;
        }
        @media screen and (max-width: 768px) {
            padding-left: 3.5%;
            padding-right: 3.5%;
        }
    }
    &--right{
        padding-left: 0%;
        padding-right: 15%;
        @media(max-width:1300px){
            padding-left: 0%;
            padding-right: 10%;
        }
        @media screen and (max-width: 1024px) {
            padding-left: 0%;
            padding-right: 5%;
        }
        @media screen and (max-width: 768px) {
            padding-left: 3.5%;
            padding-right: 3.5%;
        }
    }
}
.row{
    margin: 0px;
    padding: 0px;
}

.col-lg-3,.col-lg-4,.col-lg-5.col-lg-6,.col-lg-7,.col-lg-9{
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.row>* {
    padding-right:0px;
    padding-left: 0px;
}
section{
    padding-top: 50px;
    padding-bottom: 50px;
    @media (max-width:1440px){
        padding-top: 30px;
        padding-bottom: 30px;
    }
    @media (max-width:768px){
        padding-top: 20px;
        padding-bottom: 20px;
    }
}


@mixin sectionpadding1440{
    padding-top: 55px;
    padding-bottom: 55px;
}
@mixin sectionpadding768{
    padding-top: 40px;
    padding-bottom: 40px;
}