// black
$primaryBlack:#000000;
$accentBlack:#070707;
$secondaryBlack:#3F3F3F;
$disableBlack:#bdbdbd;
$disableTextBlack:#7B808A;
$candidatebg:#666666;
$candidatebgPrimary:#fdfdfd;


// blue 
$primaryBlue:#3680E3;
$secondaryBlue:#E9F1FA;
$accentBlue:#9ABFF0;
$selectBlue: #F5F7FF;
$primaryBlueVarriant:#2858F3;
$loaderBG:#F3F7FC;
$cyan:#A6E7E2;
$disabledCyan: #DAF4F2;

// yellow
$primaryYellow:#FBC404;

// green
$primaryGreen: #65C04E;
$secondaryGreen: #00DC16;

// white 
$primaryWhite:#fff;


// red 
$primaryRed: #EB0000;