.roundLoader{
    padding: 32px;
    width: max-content;
    height: max-content;
    border-radius: 100%;
    background-color:$loaderBG ;
    margin: 0 auto;
    margin-bottom: 30px;
    @media(max-width:767px){
        padding: 18px;
        margin-bottom: 10px;
    }
}
.round {
    display: block;
    width: 3.2rem;
    height: 3.2rem;
    box-sizing: border-box;
    border-radius: 50%;
    border:4px solid $primaryBlue;
    border-right: 4px solid transparent;
    animation: 1s infinite linear rotateMe;
    @media(max-width: 767px){
        width: 18.89px;
        height: 18.89px;
        border-width: 2px;
    }
    &--cyan{
        border:4px solid $cyan;
        border-right: 4px solid transparent;
        @media(max-width: 767px){
            width: 18.89px;
            height: 18.89px;
            border-width: 2px;
        }
    }
  }
  @keyframes rotateMe {
    0% {transform: rotate(0)}
    100% {transform: rotate(360deg)}
  }
.congratulationSection{
    &__content{
        margin: 0 auto;
        margin-top: 67px;
        max-width: 862px;
        @media(max-width: 767px){
            margin-top: 43px;
        }

    }
} 
.congratulationSection{
    text-align: center;
    &__title{
        font-style: normal;
        font-weight: 600;
        font-size: 2.8rem;
        line-height: 42px;
        color: $primaryBlue;
        margin-bottom: 55px;
        @media(max-width: 767px){
            margin-bottom: 43px;
            font-size: 16.526px;
            line-height: 25px;
        }
    }
    &__desc{
        font-style: normal;
        font-weight: 400;
        font-size: 2.8rem;
        line-height: 42px;
        text-align: center;
        color:$primaryBlack;
        @media(max-width:767px){
            font-size: 14px;
            line-height: 21px;
        }
    }
}