.transitionScreen{
    height: 80vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    &__content{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 3.8rem;
        line-height: 57px;
        color: $primaryBlack;
        @media(max-width:1023px){
            flex-direction: column;
            align-items: center;
            text-align: center;
            font-size: 25px;
            line-height: 38px;
            text-align: center;
        }
    }
    &__userImg{
        width: 70px;
        height: 70px;
        border: 3px solid  $primaryBlue;
        border-radius: 100%;
        margin-right: 37px;
        overflow: hidden;
        img{
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
        @media(max-width:1023px){
            margin-right: 0px;
            width: 135px;
            height: 135px;
            margin-bottom: 24px;
        }
    }
    .transitionScreen__loader {
        margin-left: 10px;
        color: $primaryBlue;
        display: inline-block;
        position: relative;
        width: 55px;
        height: 78px;
        div{
            transform-origin: 40px 40px;
            animation: transitionScreen__loader 1.2s linear infinite;
            &::after{
                content: " ";
                display: block;
                position: absolute;
                top: 17px;
                left: 37px;
                width: 5px;
                height: 12px;
                border-radius: 100px;
                background: $primaryBlue
            }
        }
        @media(max-width:1023px){
            margin-left: -24px;
            margin-top: 72px;
        }
      }
      .transitionScreen__loader div:nth-child(1) {
        transform: rotate(0deg);
        animation-delay: -0.9s;
      }
      .transitionScreen__loader div:nth-child(2) {
        transform: rotate(45deg);
        animation-delay: -0.8s;
      }
      .transitionScreen__loader div:nth-child(3) {
        transform: rotate(90deg);
        animation-delay: -0.7s;
      }
      .transitionScreen__loader div:nth-child(4) {
        transform: rotate(135deg);
        animation-delay: -0.6s;
      }
      .transitionScreen__loader div:nth-child(5) {
        transform: rotate(180deg);
        animation-delay: -0.5s;
      }
      .transitionScreen__loader div:nth-child(6) {
        transform: rotate(225deg);
        animation-delay: -0.4s;
      }
      .transitionScreen__loader div:nth-child(7) {
        transform: rotate(270deg);
        animation-delay: -0.3s;
      }
      .transitionScreen__loader div:nth-child(8) {
        transform: rotate(315deg);
        animation-delay: -0.2s;
      }
      @keyframes transitionScreen__loader {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
}