.welcome{
    position: relative;
    height: calc( 85vh );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &__content{
        margin-top: 62px;
        position: relative;
        text-align: center;
        width: 770px;
        @media(max-width:1023px){
            width: 100%;
        }
    }
    &__title{
        margin-bottom: 36px;
    }
    &__videoWrapper{
        position: relative;
        border-radius: 35.7656px;
        overflow: hidden;
        
        iframe,video{
            border: 3px solid #f6f7fa;
            border-radius: 35.7656px;
            @media(max-width:500px){
                height: 200px;
                border-radius: 17.5728px;
            }
        }
        &__curtain{
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            transition: all 0.2s ease-in-out;
            object-fit: cover;

        }
        &__playBtn{
            position: absolute;
            font-size:6rem ;
            top: 50%;
            left: 50%;
            background-color: #fff;
            transform: translateX(-50%) translateY(-50%);
            color: $primaryBlack;
           padding: 30px;
           border-radius: 100%;
           transition: all 0.2s ease-in-out;
           @media (max-width:1023px) {
                padding: 15px;
                font-size: 4rem;
           }
        }
    
        &:hover{
            cursor: pointer;
            .welcome__videoWrapper__curtain{
                opacity: 0.6;
            }
            .welcome__videoWrapper__playBtn{
                background-color: $primaryBlue;
                color: #fff;
            }
        }
    }

}

.nextBtn{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    .cBtn__notMove{
        @media(max-width:1023px){
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 11.6505px;
            line-height: 17px;
            padding: 0px 38px;
        }
        @media(max-width:374px){
           padding: 0px 25px;
        }
    }
    .cBtn__icon{
        @media(max-width:1023px){
            min-width: 40px;
            height: 40px;
            iconify-icon{
                font-size: 14px;
            }
        }
        @media(max-width:374px){
            min-width: 30px;
            height: 30px;
         }
    }
   
}