/*font */
$blue:#2460B9;
$green :#2C6220;
$red:#a50b0b;
$yellow:#ffee00;
$skin:rgb(237,189,175);
@import 'colorVarriables';
@import 'components';
@import 'base';
@import 'index';
@import 'afterRegistration';
@import 'newLiscence';
@import 'confirmation';